
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.conatiner{
    
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background: linear-gradient(to bottom, rgb(52, 209, 212), rgb(98, 194, 98), rgb(115, 175, 176));
}
.innerDiv{
    margin-top:30px
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 50vw;
    background: linear-gradient(to bottom, rgb(212, 129, 52), rgb(215, 231, 93));
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
}   

.main-heading {
    
    font-family: "Lobster";
    background: linear-gradient(to right, #2645c3, #703e89); /* Example gradient */
    -webkit-background-clip: text;
    color: transparent;
}
.sss{
    color: rgb(228, 0, 95);
    font-family: Roboto;
}

.button{
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(111, 212, 52), rgb(175, 45, 175));
    border-width: 0px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    padding-inline: 20px;
}
